
@model Questao2.Models.Item
@{
    ViewBag.Title = "Editar Item";
}

<h1>Editar Item</h1>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.HiddenFor(m => m.Id)

        <div class="form-group">
            Código Item
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.CodigoItem, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            Nome
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Nome, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            Descricao
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Descricao, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            Preço
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Preco, new { @class = "form-control" })
            </div>
        </div>

    
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvar alterações" class="btn btn-success" />
                @Html.ActionLink("Página Inicial", "Index", null, new { @class = "btn btn-danger" })
            </div>
        </div>
    </div>
}